body{
    background-color: black;width: 100%;
    height: 100vh;
    display: flex;
    
    align-items: center;
    justify-content: center;
}

/* .mainContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
} */
.container{
    border:5px solid rgb(135, 222, 216);
    border-radius: 10%;
    background-color:black;
    padding: 10px;
display:grid;
gap:5px;
grid-template-rows:  repeat(5,1fr);
grid-template-columns:  repeat(4,1fr);
}
.item{
    border: 3px solid blanchedalmond;
    /* border-right: 3px solid blanchedalmond; */
    border-radius: 50%;
    font-size: 25px;
    color:aqua;
    margin-left: 10px;
    margin-top: 3px;
    padding-left: 10px;
}

.ans{
    width: 100%;
    height: 50px;
border: 5px solid aqua;
border-radius: 10%;
color:aqua;
display: flex;
align-items: end;
justify-content: end;
font-size: 1.5rem;

margin-bottom: 10px;


}